<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <form action="/user/signup" method="post">
        <label for="signup-username">Username :</label>
        <input  id="signup-username" type="text" placeholder="Enter your username">
        
        <label for="signup-password">Password:</label>
        <input id="signup-password" type="password" placeholder="Enter your password">
        
        <button >Buuton</button>
    </form>

    <script src="../public/index.js"></script>
</body>
</html>